<div class="content-container-center">
    <div class="error-code">
        {{errorCode}}
    </div>
    <div class="error-text">
        {{errorText}}
    </div>
    <button type="button" class="error-back-button">
        Назад к списку чатов
    </button>
</div>
