.error-code {
    color: #3c8b8f;
    font-size: 100px;
}

.error-text {
    color: #000c;
    font-size: 12px;
    margin-bottom: 10px;
}

.error-back-button {
    width: 20%;
    height: 25px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    font-size: 12px;
}