<div class="content-container-center">
    <div class="chat-authorization-form">
        <div class="authorization-form-name">
            {{formName}}
        </div>
        {{{form}}}
        {{{link}}}
    </div>
</div>
