.chat-user-block {
    display: flex;
    background: #ffe9d4b3;
    border-radius: 15px;
    height: fit-content;
    padding: 5px;
    align-items: center;
    width: fit-content;
    margin-right: 5px;
}
