<div class='image-container'>
    <div class="image-content" >
        <img src="https://via.placeholder.com/130x130" alt="" />
    </div>
    <div class="image-file-input">
        <input class='image-file-input' required="true" type="file" multiple="false" title="" />
    </div>
</div >
