.image-container {
    position: relative;
    display: inline-block;
    width: auto;
    margin: 0 5px;
}

.image-content {
    border-radius: inherit;
    position: relative;
    overflow: hidden;

    img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: contain;
    }
}

.image-file-input {
    border-radius: inherit;

    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
    }
}
