<div class='image-container'>
    <div class="image-content" >
        {{#if src}}
            <img src="{{src}}" alt="" />
            {{else}}
            <img src="{{defaultAvatar}}" alt="" />
        {{/if}}
    </div>
    {{#if isEditMode}}
        <div class="image-file-input">
        {{{avatarInput}}}
    </div>
            {{/if}}

</div >
