<div class="modal 
        {{#if isActive}}
        active
        {{/if}}">
   <div class="modal-header">
        <div class="modal-header-title">{{header}}</div>
        {{{closeButton}}}
   </div>
   <div class="modal-content">
        {{{content}}}
   </div>
</div>
