<div class="content-container-center">
    <div class="user-settings-form">
        <div class="user-settings-form-name">
            Информация
        </div>
        <div class="short-user-info"> 
            {{{avatar}}}
        </div>
        {{{form}}}
    </div>
</div>
