<div class="content-container-center">
    <div class="user-settings-form">
        <div class="user-settings-form-header">
            <span class="user-settings-form-header-name">
                Настройки пользователя
            </span>
                {{{logoutButton}}}
        </div>
        <div class="short-user-info"> 
            {{{avatar}}}
        </div>
        {{{form}}}
    </div>
    {{{modal}}}
</div>
