.short-user-info {
    display: flex;
    align-items: center;

    .user-settings-button {
        margin: 0 5px 0 0;
    }

    input {
        margin: 0;
    }
}

.user-settings-form {
    width: 25vw;
    background: rgba(254 254 254 / 40%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 15px 15px;

    .image-content {
        img {
            width: 45px;
            height: 45px;
        }
    }

    ul {
        width: 80%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        button {
            line-height: 20px;
        }

        .cancel-button {
            background: rgba(0 0 0 / 20%);
            margin-left: 5px;
        }
    }

    li {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    input {
        width: 100%;
        direction: rtl;
        color: #000c;
        height: 22px;
        background: rgba(254 254 254 / 70%);
        font-weight: 400;
        font-size: 9px;
    }

    @mixin input-icon {
        width: 12px;
        height: 12px;
        background: #3c8b8fad;
        border-radius: 50%;
        margin: 2px 5px;
        padding: 3px;
        position: absolute;
        inset: 0;
    }

    .user-settings-label {
        position: relative;
        width: 100%;
    
        &::before {
            @include input-icon;

            content: url("../../../static/icons/user.svg");
        }
    
        input {
            width: 95%;
        }
    }
}

.user-settings-form-name {
    font-size: 15px;
    line-height: 25px;
    color: rgba(0 0 0 / 80%);
}

.settings-chat-name {
    display: block;
    font-size: 8px;
    margin: 2px 0;
}
