.message-container {
    width: 75vw;
    height: 100vh;
}

.message-container-field {
    height: calc(100vh - 60px);
    overflow-y: auto;
}

.empty-chat {
    width: 100%;
    height: 100%;
    place-content: center;
    align-items: center;
    display: flex;
}

.input-message-field {
    position: absolute;
    bottom: 20px;
    right: 15px;
    width: 60vw; 

    .user-search-field {
        width: 80%;
    }
}

.chat-settings-modal {
    .modal-header {
        justify-content: center;
    }
}

.message-container-field::-webkit-scrollbar {
    width: 6px;
}

.message-container-field::-webkit-scrollbar-thumb {
    background-color: #3c8b8f;
}
